<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>164322484012-rcjfd35j1bnc1b46cc4j4ob1aulsgqi8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.164322484012-rcjfd35j1bnc1b46cc4j4ob1aulsgqi8</string>
	<key>API_KEY</key>
	<string>AIzaSyC2Jp6Fcs-Zsxxf6bUQ03Yn-8L8FhQfrgo</string>
	<key>GCM_SENDER_ID</key>
	<string>164322484012</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ewabaczynska.cantwait28</string>
	<key>PROJECT_ID</key>
	<string>cantwaitewabaczynska</string>
	<key>STORAGE_BUCKET</key>
	<string>cantwaitewabaczynska.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:164322484012:ios:eef371024f406cf6225689</string>
</dict>
</plist>